doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='canonical', href='http://www.salionov.ru/')
    meta(property='og:type', content='website')
    meta(property='og:title', content='#{title}')
    meta(property='og:site_name', content='Salionov')

  body
    div#container
      h1= title
      include breadcrumbs
      block content
      #contacts
        contacts = {Twitter: "http://twitter.com/salionov", LinkedIn: "http://www.linkedin.com/profile/view?id=217090139", Facebook: "https://www.facebook.com/salionov", GitHub: "https://github.com/blackbass1988"}
        each url, key in contacts
          span
            a(href='#{url}') #{key}
    div#counters
      | <!--LiveInternet counter--><script type="text/javascript"><!--
      | document.write("<a href='http://www.liveinternet.ru/click' "+
      | "target=_blank><img src='//counter.yadro.ru/hit?t44.6;r"+
      | escape(document.referrer)+((typeof(screen)=="undefined")?"":
      | ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
      | screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
      | ";"+Math.random()+
      | "' alt='' title='LiveInternet' "+
      | "border='0' width='31' height='31'><\/a>")
      | //--></script><!--/LiveInternet-->

